<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Views</title>
</head>
<body>
	<h1><%= pizza %></h1>

	<% for (let i = 0; i < pizza.length; i++) { %>
 		 <p>This is loop # <%= pizza[i].flavor%> </p>
	<% } %>


	
</body>
</html>